#top
{
       
       height: 40px;
}
.navbar{
    
    height: 40px;
    text-size-adjust: 15px;
}
.navbar-brand {
    padding: 0 15px;
    height: 15px;
    line-height: 15px;
  }
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 0px;
    padding: 0px 0px ;
  }
  
.btn{
    max-height: 20px;
    padding: 0px;
}
#container
{
    
}